cargo-features = ['edition']

[package]
description = "Ethereum Debug"
name = "edb"
version = "0.0.1"
license = "GPL-3.0"
authors = ["Andrew Plaza <aplaza@liquidthink.net>"]
edition = '2018'


[lib]
path = "edb/lib.rs"
name = "edb"

[workspace]
members = [
  "compiler/",
  "debugger/",
  "emul/"
]

[dependencies]
tokio-core = "0.1.17"
futures = "0.1.23"
web3 = { git = "https://github.com/tomusdrw/rust-web3" }
failure = "0.1.2"
